
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;

}


body {
    background-color: black;
    width: 100%;
}

header {
    display: inline-block;
    width: 100%;
    height: 25%;
    background-image: url(../img/abstrait-espace-etoile-etoiles-brillantes-dans-ciel-nocturne-banniere_213524-284.jpg);
    margin-left: 20px;
    margin-top: 20px;
}

nav {



}

.menu {
    display: block;
    padding-bottom: 50px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 13rem;
}
.menu > li {

    color: white;
    width: 100px;
    offset-path: 0%;
    cursor: pointer;
    font-size: 1.4em;
    padding-top: 30px;

}

.sub-menu {

    transform: scale(0);
    transform-origin: top center;
    transition: all 10ms ease-in-out;
    width: 300px;
    height: 10px;
    margin-top: 30px;
}

.sub-menu li {
    font-size: 20px;
    background-color: #093fa8;
    padding: 8px 0;
    color: white;
    transform: scale(0);
    transform-origin: top center;
    transition: all 10ms ease-in-out;

}

.sub-menu li:last-child {
    border-bottom: 0;
}

.menu:hover {
    background-color: #093fa8;
}

.sub-menu li:hover {

    background-color: #121481;
}
.menu > li:hover .sub-menu li {
    transform: scale(1);
}
.menu > li:hover .sub-menu {
    transform: scale(1);
}

ul {
    list-style-type: none;

}


.menudeux {
    display: block;
    padding-bottom: 50px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 20rem;
    border-right:  1px gray;
}

.menudeux > li {

    color: white;
    width: 130px;
    height: 50px;
    line-height: 20px;
    offset-path: 0%;
    cursor: pointer;
    font-size: 1.4em;
    padding-top: 30px;

}

.sub-menudeux {

    transform: scale(0);
    transform-origin: top center;
    transition: all 300ms ease-in-out;
    width: 300px;
    height: 10px;
    margin-top: 30px;
}

.sub-menudeux li {
    font-size: 20px;
    background-color: #093fa8;
    padding: 8px 0;
    color: white;
    transform: scale(0);
    transform-origin: top center;
    transition: all 300ms ease-in-out;

}


.sub-menudeux li:last-child {
    border-bottom: 0;
}
.sub-menudeux li:hover {

    background-color: #121481;
}
.menudeux > li:hover .sub-menudeuxli {
    transform: scale(1);
}
.menudeux > li:hover .sub-menudeux {
    transform: scale(1);
}

ul {
    list-style-type: none;

}
