
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    background-color: black;
    width: 100%;
    font-size: 62.02%;
}

header {
    display: inline-block;
    width: 100%;
    height: 100px;
    background-image: url(../img/abstrait-espace-etoile-etoiles-brillantes-dans-ciel-nocturne-banniere_213524-284.jpg);
    font-size: 1em;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo {
    margin-left: 5rem;
}

nav {



}

.menu {
    display: block;
    padding-bottom: 50px;
    position: fixed;
    top: 0;
    left: 24rem;
}

.menu > li {

    color: white;
    width: 100px;
    height: 37px;
    cursor: pointer;
    font-size: 1.4em;
    padding-top: 30px;

}

.sub-menu {

    transform: scale(0);
    transform-origin: top center;
    transition: all 10ms ease-in-out;
    width: 300px;
    height: 10px;
    margin-top: 30px;
}

.sub-menu li {
    height: 35px;
    font-size: 20px;
    background-color: #093fa8;
    padding: 8px 0 0 8px;
    color: white;
    transform: scale(0);
    transform-origin: top center;
    transition: all 10ms ease-in-out;

}

.sub-menu li:last-child {
    border-bottom: 0;
}

.menu:hover {
    background-color: #093fa8;
}

.sub-menu li:hover {

    background-color: #121481;
}
.menu > li:hover .sub-menu li {
    transform: scale(1);
}
.menu > li:hover .sub-menu {
    transform: scale(1);
}

ul {
    list-style-type: none;

}


.menudeux {
    display: block;
    padding-bottom: 50px;
    position: fixed;
    top: 0;
    left: 30rem;
    border-right:  1px gray;
}

.menudeux > li {

    color: white;
    width: 100px;
    height: 37px;
    cursor: pointer;
    font-size: 1.4em;
    padding-top: 30px;

}

.sub-menudeux {

    transform: scale(0);
    transform-origin: top center;
    transition: all 10ms ease-in-out;
    width: 300px;
    height: 10px;
    margin-top: 30px;
}

.sub-menudeux li {
    width: 65%;
    height: 35px;
    font-size: 20px;
    background-color: #093fa8;
    padding: 8px 0 0 8px;
    color: white;
    transform: scale(0);
    transform-origin: top center;
    transition: all 10ms ease-in-out;

}



.sub-menudeux li:last-child {
    border-bottom: 0;
}
.menudeux:hover {
    background-color: #093fa8;
}

.sub-menudeux li:hover {

    background-color: #121481;
}
.menudeux > li:hover .sub-menudeux li {
    transform: scale(1);
}
.menudeux > li:hover .sub-menudeux {
    transform: scale(1);
}

ul {
    list-style-type: none;

}

.menu3 {
    display: block;
    padding-bottom: 50px;
    position: fixed;
    top: 0;
    left: 37rem;
    border-right:  1px gray;
}

.menu3 > li {

    color: white;
    width: 100px;
    height: 37px;
    cursor: pointer;
    font-size: 1.4em;
    padding-top: 30px;

}


.menu3:hover {
    background-color: #093fa8;
}


.menu3 > li:hover {
    transform: scale(1);
}
.menu3 > li:hover {
    transform: scale(1);
}

ul {
    list-style-type: none;

}

.menu4 {

    display: block;
    padding-bottom: 50px;
    position: fixed;
    top: 0;
    left: 44rem;
    border-right:  1px gray;
}

.menu4 > li {

    color: white;
    width: 150px;
    height: 37px;
    cursor: pointer;
    font-size: 1.4em;
    padding-top: 30px;

}

.sub-menu4 {

    transform: scale(0);
    transform-origin: top center;
    transition: all 10ms ease-in-out;
    width: 300px;
    height: 10px;
    margin-top: 30px;
}

.sub-menu4 li {
    width: 65%;
    height: 35px;
    font-size: 20px;
    background-color: #093fa8;
    padding: 8px 0 0 8px;
    color: white;
    transform: scale(0);
    transform-origin: top center;
    transition: all 10ms ease-in-out;

}



.sub-menu4 li:last-child {
    border-bottom: 0;
}
.menu4:hover {
    background-color: #093fa8;
}

.sub-menu4 li:hover {

    background-color: #121481;
}
.menu4 > li:hover .sub-menu4 li {
    transform: scale(1);
}
.menu4 > li:hover .sub-menu4 {
    transform: scale(1);
}

ul {
    list-style-type: none;

}

.menu5 {

    display: block;
    padding-bottom: 50px;
    position: fixed;
    top: 0;
    left: 54rem;
    border-right:  1px gray;
}

.menu5 > li {

    color: white;
    width: 120px;
    height: 37px;
    cursor: pointer;
    font-size: 1.4em;
    padding-top: 30px;

}

.sub-menu5 {

    transform: scale(0);
    transform-origin: top center;
    transition: all 10ms ease-in-out;
    width: 300px;
    height: 10px;
    margin-top: 30px;
}

.sub-menu5 li {
    width: 65%;
    height: 35px;
    font-size: 20px;
    background-color: #093fa8;
    padding: 8px 0 0 8px;
    color: white;
    transform: scale(0);
    transform-origin: top center;
    transition: all 10ms ease-in-out;

}



.sub-menu5 li:last-child {
    border-bottom: 0;
}
.menu5:hover {
    background-color: #093fa8;
}

.sub-menu5 li:hover {

    background-color: #121481;
}
.menu5 > li:hover .sub-menu5 li {
    transform: scale(1);
}
.menu5 > li:hover .sub-menu5 {
    transform: scale(1);
}

ul {
    list-style-type: none;

}

.menu6 {

    display: block;
    padding-bottom: 50px;
    position: fixed;
    top: 0;
    left: 62rem;
    border-right:  1px gray;
}

.menu6 > li {

    color: white;
    width: 70px;
    height: 37px;
    cursor: pointer;
    font-size: 1.4em;
    padding-top: 30px;

}

.sub-menu6 {

    transform: scale(0);
    transform-origin: top center;
    transition: all 10ms ease-in-out;
    width: 300px;
    height: 10px;
    margin-top: 30px;
}

.sub-menu6 li {
    width: 65%;
    height: 35px;
    font-size: 20px;
    background-color: #093fa8;
    padding: 8px 0 0 8px;
    color: white;
    transform: scale(0);
    transform-origin: top center;
    transition: all 10ms ease-in-out;

}



.sub-menu6 li:last-child {
    border-bottom: 0;
}
.menu6:hover {
    background-color: #093fa8;
}

.sub-menu6 li:hover {

    background-color: #121481;
}
.menu6 > li:hover .sub-menu6 li {
    transform: scale(1);
}
.menu6 > li:hover .sub-menu6 {
    transform: scale(1);
}

ul {
    list-style-type: none;

}

.menu7 {

    display: block;
    padding-bottom: 50px;
    position: fixed;
    top: 0;
    left: 67rem;
    border-right:  1px gray;
}

.menu7 > li {

    color: white;
    width: 160px;
    height: 37px;
    cursor: pointer;
    font-size: 1.4em;
    padding-top: 30px;

}

.sub-menu7 {

    transform: scale(0);
    transform-origin: top center;
    transition: all 10ms ease-in-out;
    width: 300px;
    height: 10px;
    margin-top: 30px;
}

.sub-menu7 li {
    width: 65%;
    height: 35px;
    font-size: 20px;
    background-color: #093fa8;
    padding: 8px 0 0 8px;
    color: white;
    transform: scale(0);
    transform-origin: top center;
    transition: all 10ms ease-in-out;

}



.sub-menu7 li:last-child {
    border-bottom: 0;
}
.menu7:hover {
    background-color: #093fa8;
}

.sub-menu7 li:hover {

    background-color: #121481;
}
.menu7 > li:hover .sub-menu7 li {
    transform: scale(1);
}
.menu7 > li:hover .sub-menu7 {
    transform: scale(1);
}

ul {
    list-style-type: none;

}

#searchbar {
    position:relative;
    bottom: 70px;
    right: 11rem;
    width:200px;
    height:auto;
    text-align: center;
    float: right;
}

.formulaire {
    display:inline-block;
    position: relative;
    bottom: 40px;
}

.formulaire .champ {
    width:150px;
    height:40px;
    background-color: #333131;
    border: solid 1px #333131;
}

input[type="text"]:focus {
    border: white;
}

input::placeholder {
    padding-left: 15px;

}


i {
    color: white;
    margin-left: 15px;
}

.deuxiememenu {
    font-size: 1.5em;
    color: white;
    display: inline-block;
    margin-left: 17rem;
    position: relative;
    bottom: 30px;
    width: auto;
    height: 40px;
    background-color: #605f5f;
}

.bottommenu {
    display: inline-block;
    width: auto;
    height: 40px;
    padding: 10px;

}

.bottommenu:hover {
    background-color: #a19f9f;
    cursor: pointer;
}


/**Section**/

section {
    width: 80%;
    height: 600px;
    border: solid 1px #f1cbbe;
    margin-left: 10%;
    margin-top: 9%;
    display: inline-block;
}

.image {
    width: 100%;
    height: 600px;
}

.art1 {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/1-pia24818_-_jupiter_bands_leigh_slide1.png);
    background-size: cover;
    width: 50%;
    height: 580px;
    margin: 10px;
}

.tag {
    font-size: 1.7em;
    width: 100%;
    height: 5%;
    background-color: #d3d3d3;
    opacity: 80%;
}

.tag:hover {
    background-color: white;
}

.art2 {
    position: relative;
    bottom: 600px;
    left: 50%;
    width: 50%;
    height: 300px;
    background-color: white;

}

.spacex {
    padding: 1%;
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url(../img/51404585793_8803f6e1aa_k.jpg);
}

.nasae {
    margin-left: 50%;
    position: relative;
    bottom: 100%;
    color: white;
    width: 50%;
    height: 100%;
    background-color: #093fa8;
    padding: 1%;
}

.nasae a {
    padding: 5px;
    font-size: 1.5em;
    color: white;
    margin: 10px;
}

.art4 {
    width: 50%;
    height: 50%;
    background-image: url(../img/sdo_x1_flare_10-28-21_131.jpg);
    background-size: cover;
    position: relative;
    left: 50%;
    bottom: 102%;

}
.image2 {
    width: 100%;
    height: 600px;
}

.art5 {
    width: 25%;
    height: 50%;
    background-image: url(../img/ozone2021_2.png);
    background-size: cover;
}
.art6 {
    width: 25%;
    height: 50%;
    background-image: url(../img/steam_day_web_release.jpg);
    background-size: cover;

}

.art7 {
    width: 50%;
    height: 50%;
    background-image: url(../img/sarah_yearicks.png);
    background-size: cover;
    background-position: center;
    margin-left: 25%;
    position: relative;
    bottom: 100%;
}

.huitetneuf {
    width: 50%;
    height: 50%;
    background-repeat: no-repeat;
    margin-left: 25%;
    position: relative;
    bottom: 100%;
    background-color: white;

}

.art8 {
    width: 50%;
    height: 100%;
    background-image: url(../img/users_advisory_group.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.art9 {
    width: 50%;
    height: 100%;
    margin-left: 50%;
    position: relative;
    bottom: 100%;
    background-image: url(../img/iss063e055171.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.art10 {
    width: 25%;
    height: 50%;
    margin-left: 75%;
    position: relative;
    bottom: 200%;
    background-image: url(../img/wallpaper_gamma_rays.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.art11 {
    width: 25%;
    height: 50%;
    margin-left: 75%;
    position: relative;
    bottom: 200%;
    background-image: url(../img/trappist1f.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}






